@import "../../scss/variable";

$padding: 200px;
.top-header {
  background: rgb(7, 7, 7, 0.95);
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 0 11vw;
  width: 100vw;
  top: 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  overflow: hidden;
  z-index: 999;
}

.top-header__logo-layout {
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  width: 100vw;

}

.top-header__title {
  color: $text-color;
  @include font-family;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

//Nav
.top-header__nav {
  display: inline-flex;
  height: 74px;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.top-header__link {
  all: unset;
  color: #E1E1E1;
  @include font-family;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

//My zone button
#myzone {
  display: flex;
  width: 128px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  background: linear-gradient(180deg, #01B1FF -16.67%, #0377FF 66.34%);

  color: #E1E1E1;

  @include font-family;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}