//Import
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
//Color
$background-color: #0D0D0D;
$component-color: #070707;
$text-color: #F9F9F9;
$extra-text-color: #404040;
$color-60: #0D0D0D;
$color-30a: #B312FF;
$color-30b: #0157FF;
$color-10a: #FB8F23;
$color-10b: #FF00B8;
$color-10c: #41FF6B;

//Font
$normal-font: 13px;
$heading-font-1: 35px;
$heading-font-2: 30px;
$heading-font-3: 25px;

@mixin font-family {
  font-family: 'Kumbh Sans', sans-serif;
}